@charset "UTF-8";
h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-weight: 700; }

h2, h3, h4, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600; }

/* ------------------------------------------------------------- PARRAFOS Y TEXTOS GRAL. ----------------------------------------------------------------*/
a {
  text-decoration: none; }

p {
  word-spacing: .5px; }

span {
  font-style: italic; }

.txtWhite {
  color: #fff; }

.txtNegro {
  color: #000; }

.centrado {
  text-align: center; }

.txtRight {
  text-align: right; }

.contacto {
  list-style: none; }

.bold {
  font-weight: bold; }

/*                                   -----------------------------------BANNER INDEX----------------------------------- */
.bannerini {
  background-color: #F0F4EF;
  height: 145%;
  max-height: 1100px;
  width: 100%;
  margin-top: 70px; }

.bannerini__img {
  height: 60vh;
  width: 100%;
  background-image: url("../media/img/bannerini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  grid-area: bannerIni; }

.bannerini__back {
  height: 360px;
  color: #000;
  text-align: center;
  padding: 5%;
  grid-area: bannerIni; }

.bannerini__back__title {
  font-size: 2em;
  font-weight: 700; }

.bannerini__back__txt {
  margin-top: 7%;
  font-size: 1em;
  line-height: 24px; }

/*  -------------------------------------BANNER INDEX RESPONSIVE-------------------------------*/
@media only screen and (min-width: 768px) {
  .bannerini {
    min-height: 1100px;
    max-height: none;
    height: 125vh; }
  .bannerini__img {
    height: 80%; }
  .bannerini__back {
    height: 20%;
    min-height: 1px;
    padding: 4% 7%; }
  .bannerini__back__txt {
    margin-top: 20px;
    font-size: 1.1em; } }

@media only screen and (min-width: 1024px) {
  .bannerini {
    background-color: #fff;
    display: grid;
    grid-template-areas: "bannerIni";
    height: 100vh;
    min-height: 1px; }
  .bannerini__img {
    height: 100%; }
  .bannerini__back {
    background-image: url("../media/img/blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
    color: #fff;
    padding-top: 10%; }
  .bannerini__back__title {
    font-size: 2.8em;
    padding: 0px 10px; }
  .bannerini__back__txt {
    font-size: 1.2em;
    line-height: 30px; } }

/*      ----------------------------BANNER CABAÑAS ------------------------------------------------*/
.bannerCab {
  height: 500px;
  margin-top: 80px;
  background-image: url("../media/img/bannercab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bannerCab h1 {
  width: 100%;
  height: 100%;
  padding: 150px 60px;
  background-color: #35353577;
  color: #fff;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 2px 2px #000; }

/*      --------------------------------BANNER SERVICIOS-------------------------------------- */
.bannerServ {
  height: 500px;
  width: 100%;
  margin-top: 80px;
  background-image: url("../media/img/bannersrv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.bannerServ h1 {
  width: 100%;
  height: 100%;
  padding: 180px 60px;
  background-color: #35353577;
  color: #fff;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 2px 2px #000; }

/*        ---------------------------BANNER TURISMO---------------------------------------- */
.bannerTuri {
  height: 500px;
  width: 100%;
  margin-top: 70px;
  background-image: url("../media/img/bannertour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bannerTuri h1 {
  width: 100%;
  height: 100%;
  padding: 150px 20px;
  background-color: #35353544;
  color: #fff;
  font-size: 3em;
  text-shadow: 0 2px 2px #000; }

/*      ---------------------------BANNER CONTACTO --------------------------------------------*/
.bannerContact {
  height: 500px;
  margin-top: 90px;
  background-image: url("../media/img/bannerrsv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.bannerContact h1 {
  width: 100%;
  height: 100%;
  padding: 150px 0px;
  background-color: #35353577;
  color: #fff;
  font-size: 3em;
  text-shadow: 0 2px 2px #000; }

@media only screen and (min-width: 992px) {
  .bannerContact {
    margin-top: 80px; } }

/*--------------------------- RESET -----------------------------------------*/
* {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  height: 100%; }

/*-----------------------------------------------------------------------NAVEGACION Y HEADER----------------------------------------------------------------------- */
.header {
  background-image: linear-gradient(to right, #000, #353535);
  height: 90px;
  border-bottom: 2px #FFA500 solid; }

.header__nav__logo {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 15px;
  width: 30%;
  height: 100%;
  max-width: 125px; }

.header__nav__menu__lista {
  background-image: linear-gradient(to top right, #000, #353535);
  z-index: 1100;
  position: absolute;
  top: 89px;
  right: 0px;
  width: 35vw;
  height: 190px;
  flex-flow: column nowrap;
  text-align: center;
  border-bottom: 2px #FFA500 solid;
  border-left: 2px #FFA500 solid;
  font-size: 1.2em; }

.header__nav__menu__lista__item {
  margin-top: 7px; }
  .header__nav__menu__lista__item a {
    color: #fff; }
    .header__nav__menu__lista__item a:hover {
      color: #FFA500; }

/*--------------------------------------------------------------------NAVEGACION Y HEADER RESPONSIVE------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .header__nav__menu__lista {
    flex-flow: row wrap;
    width: 80%;
    height: 50px;
    padding: 10px;
    justify-content: space-around;
    background-image: linear-gradient(to right, #000, #353535);
    font-size: 1em; }
  .header__nav__menu__lista__item {
    margin-top: 5px; } }

@media only screen and (min-width: 992px) {
  .header {
    height: 80px; }
  .header__nav__menu__lista {
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    right: 50px;
    width: 80%;
    margin-top: 10px;
    border: none;
    background-image: none;
    font-size: 1.2em; } }

/*-----------------------------------------------------------------------FOOTER---------------------------------------------------------------------------------- */
.footer {
  background-color: #E4E4E4;
  height: 55vh;
  width: 100%;
  min-height: 340px; }

.footer__top {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap; }

.footer__top__left {
  width: 100%;
  height: 50%;
  padding-top: 5%; }

.footer__top__left__subscrip {
  text-align: center;
  margin-bottom: 15px; }

.footer__top__left__subscrip__title {
  font-size: 1.3em;
  margin-bottom: 5px; }

.footer__top__left__subscrip__txt {
  font-size: 1em;
  margin-bottom: 10px; }

.footer__top__left__redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.footer__top__left__redes__links {
  margin: 0px 3%; }

.footer__top__right {
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 15px; }

.footer__top__right__title {
  font-size: 1.4em;
  margin-bottom: 10px; }

.footer__top__right__lista {
  padding: 0px;
  font-size: 1.1em;
  list-style: none; }
  .footer__top__right__lista li {
    margin-bottom: 5px;
    list-style: none; }

.footer__copr {
  height: 11%;
  width: 100%;
  min-height: 45px;
  font-size: .8em;
  text-align: center;
  color: #fff;
  background-color: #353535; }
  .footer__copr a {
    color: #FFA500;
    font-size: 1.1em; }

/*--------------------------------------------------------------------------------FOOTER RESPONSIVE-----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .footer {
    height: 200px;
    min-height: 0px; }
  .footer__top {
    flex-flow: row wrap; }
  .footer__top__left {
    width: 70%;
    height: 100%;
    padding-top: 2%; }
  .footer__top__right {
    background-color: #DDDDDD;
    height: 100%;
    width: 30%;
    padding-top: 2%; } }

@media only screen and (min-width: 1024px) {
  .footer__top__left, .footer__top__right {
    padding-top: 1%; }
  .footer__top__left__subscrip__title, .footer__top__right__title {
    font-size: 1.8em; }
  .footer__top__left__subscrip__txt {
    font-size: 1.3em; }
  .footer__top__left__redes__links {
    margin: 0px 1%; }
  .footer__copr {
    text-align: center; }
    .footer__copr a {
      font-size: 1.2em;
      margin-right: 70px; }
    .footer__copr p {
      text-align: right;
      margin-right: 60px; } }

/*--------------------------------------------------------------------------------SECCIONES DEL INDEX------------------------------------------------------------------------ */
/*----------------------------------------------INDEX CABAÑAS------------------------------------------------------------------------*/
.indexcabanas {
  width: 100%;
  margin: 70px 0px; }

.indexcabanas__title {
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 2em;
  text-shadow: 0 2px 4px #353535; }

.indexcabanas__elements {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .indexcabanas__elements h3 {
    color: #B0413E;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 1px 2px #000;
    padding: 15px; }
  .indexcabanas__elements img {
    height: 250px;
    width: 100%; }
  .indexcabanas__elements .indexcabanas__elements__links {
    height: 36.522px;
    width: 100%;
    position: relative;
    bottom: 190px;
    left: 0px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #F0F7F499;
    z-index: 5; }
  .indexcabanas__elements a {
    color: #000; }
  .indexcabanas__elements p {
    font-size: 1.1em;
    padding: 15px 5px;
    color: #fff; }

.indexcabanas__elements__1 {
  margin-bottom: 20px; }

.indexcabanas__elements__2 {
  margin-bottom: 20px; }

.indexcabanas__elements__3, .indexcabanas__elements__1, .indexcabanas__elements__2 {
  background-color: #353535;
  height: 410px;
  width: 25%;
  min-width: 300px;
  border-radius: 5%; }

/*-------------------------------------INDEX CABAÑAS RESPONSIVE ------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .indexcabanas__title {
    font-size: 2.5em; }
  .indexcabanas__elements img {
    width: 90%;
    transition: all 600ms; }
  .indexcabanas__elements .indexcabanas__elements__links {
    display: none;
    width: 50%;
    left: 25%;
    bottom: 190px;
    background-color: #F0F7F400;
    border: 2px solid #000;
    transition: all 600ms;
    animation-name: subir;
    animation-iteration-count: initial;
    animation-timing-function: ease-out;
    animation-duration: 700ms;
    animation-delay: 0s; }
  /*---------------------------------------------ANIMACIONES Y TRANSICIONES---------------------------------*/
  .indexcabanas__elements__1:hover .indexcabanas__elements__links {
    display: block; }
  .indexcabanas__elements__1:hover img {
    opacity: 0.6;
    transform: scale(0.9);
    outline: #FFA500 5px solid; }
  .indexcabanas__elements__1 .indexcabanas__elements__links:hover {
    background-color: #000; }
  .indexcabanas__elements__1 .indexcabanas__elements__links:hover a {
    color: #FFA500; }
  .indexcabanas__elements__2:hover .indexcabanas__elements__links {
    display: block; }
  .indexcabanas__elements__2:hover img {
    opacity: 0.6;
    transform: scale(0.9);
    outline: #FFA500 5px solid; }
  .indexcabanas__elements__2 .indexcabanas__elements__links:hover {
    background-color: #000; }
  .indexcabanas__elements__2 .indexcabanas__elements__links:hover a {
    color: #FFA500; }
  .indexcabanas__elements__3:hover .indexcabanas__elements__links, .indexcabanas__elements__1:hover .indexcabanas__elements__links, .indexcabanas__elements__2:hover .indexcabanas__elements__links {
    display: block; }
  .indexcabanas__elements__3:hover img, .indexcabanas__elements__1:hover img, .indexcabanas__elements__2:hover img {
    opacity: 0.6;
    transform: scale(0.9);
    outline: #FFA500 5px solid; }
  .indexcabanas__elements__3 .indexcabanas__elements__links:hover, .indexcabanas__elements__1 .indexcabanas__elements__links:hover, .indexcabanas__elements__2 .indexcabanas__elements__links:hover {
    background-color: #000; }
  .indexcabanas__elements__3 .indexcabanas__elements__links:hover a, .indexcabanas__elements__1 .indexcabanas__elements__links:hover a, .indexcabanas__elements__2 .indexcabanas__elements__links:hover a {
    color: #FFA500; }
  @keyframes subir {
    0% {
      bottom: 100px; }
    100% {
      bottom: 190px; } } }

/* ------------------------------------------------INDEX TURISMO ----------------------------------------------------------------*/
.indextour {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 450px;
  width: 100%;
  margin: 100px 0px; }

.indextour__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center; }

.indextour__black {
  width: 100%;
  height: 40%;
  min-height: 205px;
  background-color: #353535;
  color: #fff;
  padding-top: 20px; }

.indextour__black__txt {
  margin: 15px;
  line-height: 24px;
  font-size: 1em; }

.indextour__black__link {
  font-size: 1.1em;
  color: #F7F8EF; }
  .indextour__black__link:hover {
    color: #FFA500; }

/*----------------------------------------------------INDEX TURISMO RESPONSIVE--------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .indextour__img {
    height: 70%; }
  .indextour__black {
    height: 20%;
    padding-top: 30px; } }

@media only screen and (min-width: 1024px) {
  .indextour {
    padding: 0px 20px; }
  .indextour__img {
    width: 70%;
    height: 100%; }
  .indextour__black {
    width: 30%;
    height: 100%;
    padding: 70px 15px; }
  .indextour__black__title {
    font-size: 2.6em; }
  .indextour__black__txt {
    font-size: 1.1em;
    line-height: 30px; }
  .indextour__black__link {
    font-size: 1.2em; } }

/*-----------------------------------------------------------------------SECCIONES DE CABAÑAS--------------------------------------------------------------- */
/*------------------------------------ CABAÑAS GRAL.----------------------------*/
.cabanas__cabx--flex {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 25px; }

.cabanas {
  margin: 100px 0px;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .cabanas h4 {
    font-size: 1.9em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    margin: 10px; }
  .cabanas p {
    font-size: 1em;
    padding: 5px 25px; }

.cabanas__cabX__btn {
  background-color: #FFA500;
  height: 50%;
  width: 75%;
  margin: 20px; }
  .cabanas__cabX__btn a {
    font-weight: 600;
    font-size: 1.2em;
    color: #000; }

/*--------------------------- CABAÑAS 1 ---------------*/
.cabanas__cab1 {
  background-color: #F0F4EF;
  margin-bottom: 50px;
  width: 85%;
  height: 85vh;
  min-height: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr .6fr .6fr .6fr .6fr;
  grid-template-areas: "cab1Img cab1Img" "cab1Txt cab1Txt"; }

.cabanas__cab1__carousel {
  width: 100%;
  height: 100%;
  grid-area: cab1Img; }
  .cabanas__cab1__carousel img {
    width: 100%;
    height: 100%; }

.cabanas__cab1__txt {
  width: 100%;
  height: 100%;
  grid-area: cab1Txt; }

/*-----------------------------CABAÑAS 2 ----------------------*/
.cabanas__cab2 {
  background-color: #F0F4EF;
  margin-bottom: 50px;
  width: 85%;
  height: 85vh;
  min-height: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr .6fr .6fr .6fr .6fr;
  grid-template-areas: "cab2Img cab2Img" "cab2Txt cab2Txt"; }

.cabanas__cab2__carousel {
  width: 100%;
  height: 100%;
  grid-area: cab2Img; }
  .cabanas__cab2__carousel img {
    width: 100%;
    height: 100%; }

.cabanas__cab2__txt {
  width: 100%;
  height: 100%;
  grid-area: cab2Txt; }

/*----------------------------CABAÑAS 3 --------------------------------*/
.cabanas__cab3 {
  background-color: #F0F4EF;
  margin-bottom: 50px;
  width: 85%;
  height: 85vh;
  min-height: 755px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr .6fr .6fr .6fr .6fr;
  grid-template-areas: "cab3Img cab3Img" "cab3Txt cab3Txt"; }

.cabanas__cab3__carousel {
  width: 100%;
  height: 100%;
  grid-area: cab3Img; }
  .cabanas__cab3__carousel img {
    width: 100%;
    height: 100%; }

.cabanas__cab3__txt {
  width: 100%;
  height: 100%;
  grid-area: cab3Txt; }

/*----------------------------------- CABAÑAS4 --------------------------------*/
.cabanas__cab4 {
  background-color: #F0F4EF;
  margin-bottom: 50px;
  width: 85%;
  height: 85vh;
  min-height: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr .6fr .6fr .6fr .6fr;
  grid-template-areas: "cab4Img cab4Img" "cab4Txt cab4Txt"; }

.cabanas__cab4__carousel {
  width: 100%;
  height: 100%;
  grid-area: cab4Img; }
  .cabanas__cab4__carousel img {
    width: 100%;
    height: 100%; }

.cabanas__cab4__txt {
  width: 100%;
  height: 100%;
  grid-area: cab4Txt; }

/*----------------------------------RESPONSIVE PARA SECCIONES DE CABANAS------------------------*/
@media only screen and (min-width: 576px) {
  .cabanas__cab1, .cabanas__cab2, .cabanas__cab3, .cabanas__cab4 {
    width: 70%; } }

@media only screen and (min-width: 768px) {
  .cabanas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
  .cabanas__cab1, .cabanas__cab2, .cabanas__cab3, .cabanas__cab4 {
    width: 45%;
    height: 75vh;
    min-height: 700px; } }

@media only screen and (min-width: 992px) {
  .cabanas__cab1, .cabanas__cab2, .cabanas__cab3, .cabanas__cab4 {
    width: 45%;
    max-width: none;
    height: 100vh;
    min-height: 760px;
    max-height: 790px; } }

@media only screen and (min-width: 1400px) {
  .cabanas__cab1, .cabanas__cab2, .cabanas__cab3, .cabanas__cab4 {
    max-width: none;
    width: 35%;
    max-height: none; } }

/* ------------------------------------------------------------------------SECCIONES DE SERVICIOS------------------------------------------------------------------------ */
.servicios {
  margin: 80px 25px; }

.servicios__left__ropa {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "ropaTxt ropaImg";
  margin-bottom: 30px; }

.servicios__left__ropa__txt {
  grid-area: ropaTxt; }

.servicios__left__ropa__img {
  grid-area: ropaImg;
  width: 100%;
  border-radius: 10%; }

.servicios__left__esparcimiento {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "esparcimientoTxt esparcimientoImg";
  margin-bottom: 30px; }

.servicios__left__esparcimiento__txt {
  grid-area: esparcimientoTxt; }

.servicios__left__esparcimiento__img {
  grid-area: esparcimientoImg;
  width: 100%;
  border-radius: 10%; }

.servicios__left__desayuno {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "desayunoTxt desayunoImg";
  margin-bottom: 30px; }

.servicios__left__desayuno__txt {
  grid-area: desayunoTxt; }

.servicios__left__desayuno__img {
  grid-area: desayunoImg;
  width: 100%;
  border-radius: 10%; }

.servicios__right__info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "infoTxt infoImg";
  margin-bottom: 30px; }

.servicios__right__info__txt {
  grid-area: infoTxt; }

.servicios__right__info__img {
  grid-area: infoImg;
  width: 100%;
  border-radius: 10%; }

.servicios__right__recepcion {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "recepcionTxt recepcionImg";
  margin-bottom: 30px; }

.servicios__right__recepcion__txt {
  grid-area: recepcionTxt; }

.servicios__right__recepcion__img {
  grid-area: recepcionImg;
  width: 100%;
  border-radius: 10%; }

.servicios__right__pet {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "petTxt petImg"; }

.servicios__right__pet__txt {
  grid-area: petTxt; }

.servicios__right__pet__img {
  grid-area: petImg;
  width: 100%;
  border-radius: 10%; }

/*-------------------- SECCIONES DE SERVICIOS RESPONSIVE -------------------------------*/
@media only screen and (min-width: 768px) {
  .servicios {
    display: flex;
    flex-flow: row wrap;
    margin: 100px 80px;
    justify-content: space-around; }
    .servicios h4 {
      margin-bottom: 15px; }
  .servicios__left, .servicios__right {
    width: 40%; } }

/* ------------------------------------------------------------------------SECCIONES DE TURISMO------------------------------------------------------------------------ */
/* ----------------------------------------- TURISMO GRAL. --------------------------------------*/
.tour {
  background-color: #F0F4EF;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  padding: 20px 20px;
  margin: 40px 0px; }
  .tour img {
    height: 100%;
    width: 100%;
    border: 5px solid #FFA500;
    margin-bottom: 15px; }
  .tour h4 {
    margin-bottom: 10px;
    text-align: center;
    color: #B0413E;
    font-size: 2em;
    text-shadow: 0 2px 2px #000; }
  .tour p {
    margin-bottom: 40px;
    color: #000;
    font-size: 1em; }

.tour__pueblo__txt p {
  margin-bottom: 0px; }

/*------------------------ SECCIONES DE TURISMO RESPONSIVE ------------------------*/
@media only screen and (min-width: 1024px) {
  .tour {
    background-color: #F0F4EF;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-left: 40px;
    margin: 40px 0px; }
    .tour img {
      height: 100%;
      width: 100%;
      border: 5px solid #FFA500; }
    .tour h4 {
      color: #B0413E;
      font-size: 2.1em;
      text-shadow: 0 2px 2px #000;
      transform: translateY(70px);
      animation-name: fromTop;
      animation-iteration-count: initial;
      animation-timing-function: ease-out;
      animation-duration: 600ms;
      animation-delay: 0s; }
    .tour p {
      color: #fff;
      font-size: 1.2em;
      padding: 15px 20px;
      transform: translateY(80px);
      animation-name: fromBottom;
      animation-iteration-count: initial;
      animation-timing-function: ease-out;
      animation-duration: 700ms;
      animation-delay: 0s; }
  /* ---------------- TOUR LOCAL ------------- */
  .tour__local {
    display: grid;
    grid-template-areas: "localImgTxt";
    width: 40%;
    min-width: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px #000; }
    .tour__local:hover .tour__local__txt {
      display: block; }
  .tour__local__txt {
    display: none;
    grid-area: localImgTxt;
    background-color: #0008;
    text-align: center;
    width: 100%; }
  .tour__local__img {
    grid-area: localImgTxt;
    width: 100%;
    height: 50vh; }
  @keyframes fromTop {
    0% {
      transform: translateY(0px); }
    100% {
      transform: translateY(70px); } }
  @keyframes fromBottom {
    0% {
      transform: translateY(200px); }
    100% {
      transform: translateY(80px); } }
  /* ---------------- TOUR BELEN ------------- */
  .tour__belen {
    display: grid;
    grid-template-areas: "tourBelenTxtImg";
    width: 40%;
    min-width: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px #000; }
    .tour__belen:hover .tour__belen__txt {
      display: block; }
  .tour__belen__txt {
    display: none;
    grid-area: tourBelenTxtImg;
    background-color: #0008;
    text-align: center;
    width: 100%; }
  .tour__belen__img {
    grid-area: tourBelenTxtImg;
    width: 100%;
    height: 50vh; }
  /* ---------------- TOUR BLANCO ------------- */
  .tour__blanco {
    display: grid;
    grid-template-areas: "tourBlancoTxtImg";
    width: 40%;
    min-width: 475px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px #000; }
    .tour__blanco:hover .tour__blanco__txt {
      display: block; }
  .tour__blanco__txt {
    display: none;
    grid-area: tourBlancoTxtImg;
    background-color: #0008;
    text-align: center;
    width: 100%; }
  .tour__blanco__img {
    grid-area: tourBlancoTxtImg;
    width: 100%;
    height: 50vh; }
  /* ---------------- TOUR BAYA ------------- */
  .tour__baya {
    display: grid;
    grid-template-areas: "tourBayaTxtImg";
    width: 40%;
    min-width: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px #000; }
    .tour__baya:hover .tour__baya__txt {
      display: block; }
  .tour__baya__txt {
    display: none;
    grid-area: tourBayaTxtImg;
    background-color: #0008;
    text-align: center;
    width: 100%; }
  .tour__baya__img {
    grid-area: tourBayaTxtImg;
    width: 100%;
    height: 50vh; }
  /* ---------------- TOUR PUEBLO ------------- */
  .tour__pueblo {
    display: grid;
    grid-template-areas: "tourPuebloTxtImg";
    width: 40%;
    min-width: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px #000; }
    .tour__pueblo:hover .tour__pueblo__txt {
      display: block; }
  .tour__pueblo__txt {
    display: none;
    grid-area: tourPuebloTxtImg;
    background-color: #0008;
    text-align: center;
    width: 100%; }
  .tour__pueblo__img {
    grid-area: tourPuebloTxtImg;
    width: 100%;
    height: 50vh; } }

/*---------------------------------------------------------------------------- SECCIONES DE CONTACTO Y RESERVAS ------------------------------------------*/
.reservas {
  margin: 50px 0px; }
  .reservas label {
    color: #fff; }

.reservas__txt {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 40px; }

.reservas__form {
  background-color: #353535;
  padding: 60px 60px; }
  @media only screen and (min-width: 1024px) {
    .reservas__form {
      width: 40%;
      margin-left: 50px; } }

.reservas__form__submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.reservas__form__submit__btn {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #000;
  background-color: #E09200;
  border-color: #E09200; }
  .reservas__form__submit__btn:hover {
    background-color: #E09200;
    border-color: #E09200; }

.reservas__form__input--border {
  margin-bottom: 10px; }
  .reservas__form__input--border:focus {
    border-color: #FFA500;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #FE9200; }

.reservas__form__checkbox--orange:checked {
  background-color: #E09200;
  border-color: #E09200; }

.reservas__contacto__info {
  margin-top: 25px;
  width: 100%;
  font-size: 1.2em;
  text-align: center; }

.reservas__contacto__info__lista {
  padding: 0px; }
  .reservas__contacto__info__lista li {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #FFA500; }

.reservas__contacto__map {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }
  .reservas__contacto__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

/* ------------------------------------- MAPA DEL SITIO ----------------------------------*/
.mapsite {
  margin-top: 90px;
  text-align: center; }
  .mapsite h1 {
    font-size: 3em; }
  .mapsite div {
    margin: 60px;
    display: flex;
    flex-wrap: column nowrap;
    justify-content: center; }
  .mapsite li {
    list-style: circle; }
    .mapsite li a {
      font-size: 1.4em; }
